body {
    font-family: Helvetica;
}
header img{
    transition-property: inherit;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

img{
    border-radius: 12px;
    border: 10px solid #fff;
}

header {
    background-image: url('./image/bg1.jpg');
    opacity: 50px;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
    background-color: #0099ff;
    padding: 25px;
    border-radius: 12px;
    gap: 150px;
    text-decoration: none;
}
a{
    color: white;
    background-attachment:fixed;
    text-decoration: none;
    border-radius: 12px;
    background-color: #0099ff;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    font-weight: bold;

}

nav li {
    margin: 0 10px;
    font-weight: bolder;
}

section {
    padding: 20px;
    border-radius: 12px;

}
section li{
    font-weight: 700;
    font-size: large;
}
.button{
    background-color: #0099ff;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 7px 14px;
    display: inline-block;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    
}

footer {
    text-align: center;
    background-color: #0099ff;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
    font-weight: bolder;
    font-size: larger;
}